<!-- <body ng-app="dtApp" ng-controller="WorkSpaceController"> -->

	<!-- <div class="navbar navbar-inverse navbar-fixed-bottom" >
	  	<div class="col-lg-12">
		    <form class="folder">
		      	<input type="text" ng-model = "name" class="form-control" placeholder="folder name">
	          	<button class="btn btn-default col-lg-2 col-md-2" ng-click="createNewFolder()">Create</button>  
		    </form>
		</div>
	</div>

	<table  class="table">
		<tr ng-repeat="folder in folderList | orderBy: 'id'">--> <!-- limitTo: 15-->
			<!-- <td class="col-md-12 td_class"><p  ng-click="#">{{folder.id}}.{{folder.name}}</p></td>
			<td class="col-md-12 td_class">
				<table  class="table">
					<tr ng-repeat="file in fileList | orderBy: 'id'">
						<td class="col-md-12 td_class">
							<p  ng-click="getDtData(file.path)">{{file.id}}.{{file.name}}</p>
						</td> 
					</tr>
					<tr>
						<td>
							<form class="file">
								<input type="text" ng-model = "dtfilename" class="form-control" placeholder="file name">
								<button class="btn btn-default col-lg-2 col-md-2" ng-click="createNewFile(folder.id, dtfilename)">Create</button>  
							</form>
						</td>
					</tr>
				</table> 
			</td>

		</tr>
	</table>

	<input type="text" ng-model = "dtdata" placeholder= "dtData"> -->

<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
	
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

	<title>Decision Table</title>

	<link rel="stylesheet" href="/styles/main.css" />

	<link rel="stylesheet" href="/styles/style.css" />	

	<style>
.headerDiv ul {
	height: 100%;
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

.headerDiv li {
    float: left;
}

.headerDiv li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.headerDiv li a:hover:not(.active) {
    background-color: #111;
}

a.active {
    background-color: #4CAF50;
}

.contentDiv #centerID #condition {
  border-bottom: 3px solid blue; 
}
td.active {
	background-color: red;
}
</style>

</head>

<body>

	<div class="container">

		<div class="headerDiv">
			<ul>
			  <li><a class="active" href="#" name="save">Save</a></li>
			  <li><a href="#news">News</a></li>
			  <li><a href="#contact">Contact</a></li>
			  <li><a href="#about">About</a></li>
			</ul>
		</div>

		<div class="contentDiv">
			
			<div class="left" id="leftID">
				
				<div class='titleMenu' id='titleMenuID'>
					
					<span id='minusID'>- -</span>

					<span>Folder</span>

					<span><div class='createButton'>+</div></span>

				</div>

				<div class='newProjectCreate'> <ul id='treeID'></ul></div>

			</div>

			<div class="center" id="centerID"><h3>Decision Table</h3></div>

			<div class="bottomOfCenter" id="bottomOfCenterID"></div>			

			<div class="right" id="rightID">

				<div id="title_barID">

					<div id="restoreButtonID">-</div>

				</div>

				<div id="boxID"></div>

			</div>

		</div>

	</div>

	<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Add Row Above"><i class="fa fa-eye"></i> Add Row Above</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Add Row Below"><i class="fa fa-edit"></i> Add Row Below</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Delete Row"><i class="fa fa-edit"></i> Delete Row</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Add Column Left"><i class="fa fa-times"></i> Add Column Left</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Add Column Right"><i class="fa fa-times"></i> Add Column Right</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Delete Column"><i class="fa fa-edit"></i> Delete Cloumn</a>
      </li>
    </ul>
  </nav>

  	<!-- myatmoe -->
  	<!-- <script src="/js/dependencies/jquery-3.1.0.min.js"></script> -->
  	<script src="/js/dependencies/ajax.googleapis.com-ajax-libs-jquery-1.3.1-jquery.min.js"></script>
	<!-- for mozilla 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   -->

	<!-- for chrome -->
	<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>  -->
	<script src="/js/dependencies/code.jquery.com-jquery-latest.min.js"></script>

	<script src="/js/dependencies/ajax.googleapis.com-ajax-libs-jquery-1.11.0-jquery.min.js"></script> 

	<script src="/js/dependencies/ajax.googleapis.com-ajax-libs-jquery-1.12.4-jquery.min.js"></script> 

	<script src="/js/dependencies/code.jquery.com-jquery-1.12.4.js"></script>
	
	<script src="/js/dependencies/code.jquery.com-ui-1.12.0-jquery-ui.js"></script>

	<script src="/js/dependencies/main.js"></script>
	<script src="/js/dependencies/dt-context-menu.js"></script>

	<!-- myatmyo -->
	<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script type="text/javascript">

		var dtApp = angular.module('dtApp',[]);
		dtApp.controller('WorkSpaceController',['$http','$log','$scope','$location', function($http,$log,$scope,$location){

			$scope.folderList =[];
			$scope.fileList =[];
			$scope.dtdata;
			$scope.getAllFolderAndFile = function(){

				io.socket.get('/folder/create');
				io.socket.get('/dtfile/create');
				
				$http.post('/folder/all',{projectId:$location.search().id}).success(
					function(folders){
					 	$scope.folderList = folders;
					 	$log.info($scope.folderList);
					});
				
				$http.post('/Dtfile/all',{projectId:$location.search().id}).success(
					function(dtfiles){
						$log.info("project id "+$location.search().id);
					 	$scope.fileList = dtfiles;
					 	$log.info($scope.fileList);
					});
			};

			$scope.getAllFolderAndFile();

			io.socket.on('folder',function(obj){

				if(obj.verb === 'created'){
					$log.info(obj);
					$scope.folderList.push(obj.data);
					$scope.$digest();
				}

			});

			io.socket.on('dtfile',function(obj){

				if(obj.verb === 'created'){
					$log.info(obj);
					$scope.fileList.push(obj.data);
					$scope.$digest();
				}

			});

			$scope.createNewFolder = function(){

				$log.info($scope.name);
				$log.info($location.search());
				io.socket.post('/folder/create/',{name:$scope.name,projectId:$location.search().id});
				$scope.name = "";

			};

			$scope.createNewFile = function(folderId, dtfilename){

				$log.info("createNewFile " + folderId + " file name " + dtfilename);
				io.socket.post('/Dtfile/create/',{name:dtfilename,folderId:folderId});

			};

			$scope.getDtData = function(path) {

				$log.info("file path "+path);
				$http.post('/Dtfile/getDtData',{path:path}).success(
					function(dtfileJson){
						$log.info(dtfileJson);
						$scope.dtdata = dtfileJson;
					});

			}

		}]);

	</script>
</body>
</html>