<h1>Login</h1>
  <form method="POST" action="/login">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>


<!--<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script>
socket = io.connect();

socket.on('connect', function() {
	io.socket.get('/login');
	console.log('Socket is now connected and globally accessible as `socket`.\n' );
	console.log(socket.id);
});
</script>-->

<!--<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script>
io.socket.get('/project/project');
io.socket.on('auth',function(obj){
	console.log("socket id "+sails.io.socket.id);
});

</script>-->